<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
			<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
			<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="sidebar">
		    {% block sidebar %}
		        <ul class="nav nav-tabs">
		            <li><a href="/">Dashboard</a></li>
		            <li><a href="/download">Download</a></li>
					<li><a href="/install">Install</a></li>
		        </ul>
		    {% endblock %}
		</div>
		
		<div id="content">
			{% block body %}{% endblock %}
		</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
