{% extends 'base.html.twig' %}

{% block title %}Download{% endblock %}

{% block body %}

	<h1>Downloadable Versions</h1>

	{% block status %}{% endblock %}

	{% include 'download/available_versions_list.html.twig' %}

{% endblock %}