{% extends 'base.html.twig' %}

{% block title %}Download{% endblock %}

{% block body %}
	<h1>Downloading {{ version }}</h1>

	<div class="alert {{ status_cssclass }}" role="alert">{{ status_message }}</div>

{% endblock %}