body {
	padding: 4.0em;
}

nav {
  margin-bottom: 4.0rem;
}

label {
    display: block;
}

input {
    width: 100%;
}


/* css for installer_config form */
#installer_config {
    border: 1px solid #ccc;
    padding: 1.0em;
}
#installer_config label {
    width: 20.0em;
}
#installer_config_number_of_installations {
    width:4.0em;
}
.form_row {
    margin: 1.0em 0em;
}
.form_row.button {
    text-align: right;
    width: 100%;
}
.form_row.checkbox {
    left: 2.0em;
}