body {
	padding: 4.0em;
}

label {
    width: 20.0em;
}

#installer_config {
    border: 1px solid #ccc;
}
#installer_config_number_of_installations {
    width:4.0em;
}
.form_row {
    margin: 1.0em 1.0em;
}