{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
	<h1>Dashboard</h1>
	<ol>
		{% for value in downloaded_versions %}
			<li>{{ value }}</li>
		{% endfor %}
{% endblock %}