{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}Install{% endblock %}

{% block body %}

	<h1>Configure Install options</h1>

	{% block status %}{% endblock %}

	{{ form_start(form) }}
		{{ form_widget(form, {'attr': {'class': 'installer_config'}}) }}
	{{ form_end(form) }}

{% endblock %}
