{% extends 'base.html.twig' %}

{% block title %}Download{% endblock %}

{% block body %}

	<h1>Configure Install options</h1>

	{% block status %}{% endblock %}

	{{ form(form, {'method': 'GET'}) }}

{% endblock %}
