{% extends 'base.html.twig' %}

{% block title %}Execute Install{% endblock %}

{% block body %}

	<h1>Execute Install</h1>

	{% block status %}
		{% include 'status.html.twig' %}
	{% endblock %}

{% endblock %}
